<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>

    <div>
        <% for(let actor of datos){%>
            <p>
                <%= actor.first_name %> |
                    <%= actor.last_name %>
            </p>
            <% }%>
    </div>
</body>

</html>